option_settings:
  # Environment settings
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    
  # Environment type
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    
  # Health check configuration
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health